* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito+Sans, sans-serif, serif;
}

body{
    background-color:gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /** Cambiado */
}

.contenedor {
    position: relative;
    width: 100%; /** Cambiado */
    max-width: 1000px;
    min-height: 1000px; /** Cambiado */
    background: rgb(192, 192, 192);
    margin: 25px;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 10px 20px rgba(16, 0, 0, 0.6)
}
.contenedor .parteIzq {
    position: relative;
    background: rgba(41, 41, 237, 0.886);
    padding: 2rem;
}

.contenedor .parteDer {
    position: relative;
    background: rgb(91, 180, 215);
    padding: 1rem;
}

.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

/**.perfil .perfilImg {
    position: relative;
    width: 200px;
    height: 350px;
    border-radius: 20%;
    overflow: hidden;
}*/
 .perfil h2 {
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    margin-top: 20px;
    text-align: center;
    font-weight:bold;
 }
 .perfil span {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight:400;
 }

 .contcInfo {
    margin-left: 20px;
 }

.titulo {
    color: aliceblue;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.contcInfo ul li {
    position: relative;
    list-style: none;
    margin: 8px 0;
    cursor: pointer;
}

.contcInfo ul li .icono {
    display: inline-block;
    color: rgb(104, 228, 145);
}

.contcInfo ul li span {
    color: rgb(207, 208, 242);
    font-weight: 400;
}
.contcInfo.Educacion li {
    margin-bottom: 15px;
}
.contcInfo.Educacion h5 {
    color: rgb(200, 210, 251);
    font-weight: 500;
}

.contcInfo.Educacion h4 {
    color: rgb(254, 228, 228);
    font-weight: 300;
}

.contcInfo.InfoLenguaje .porcentaje {
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(236, 231, 251);
    display: block;
    margin-top: 7px;
}

.contcInfo.InfoLenguaje .porcentaje div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(124, 227, 167);
}
.acerca {
    margin-bottom: 40px;
}
.acerca :last-child{
    margin-bottom: 0;
}
.titulo2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#textoInfo {
    color: rgb(42, 20, 79);
}

.acerca .caja {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.acerca .caja .compania {
    min-width: 150px;
}

.acerca .caja .compania h4 {
    text-transform: uppercase;
    color: rgb(255, 213, 149);
}

.acerca .caja h4 {
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(5, 14, 39);
}

.habilidades {
    margin-bottom: 50px;
}
.habilidades .caja {
    margin: 40px 0 18px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.habilidades .caja h4 {
    color: azure;
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
}

.habilidades .caja .porcentaje {
    position: relative;
    width: 100%;
    height: 10px;
    background: rgb(254, 237, 248);
}

.habilidades .caja .porcentaje div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #f82020;
}

.intereses ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.intereses ul li {
    font-weight: 500;
    margin: 10px 0;
}
.intereses ul li .fa {
    font-size: 20px;
    color: rgb(220, 164, 220);
    margin-right: 4px;
}